@page "/"
@namespace JTTools.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="JT808|gb808|JT809|gb809|JT1078|JTT1078|JT19056|gb19056|在线解析工具" />
    <meta name="description" content="道路运输车辆卫星定位协议在线解析工具" />
    <title>JTTools解析工具</title>
    <base href="~/" />
    <link rel="icon" href="logo.png" type="image/x-icon">
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">
    <script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.15&key=1beaad9c96973cf1614ab8703cb60356&plugin=AMap.MouseTool'>
    </script>
    <!-- UI组件库 1.0 -->
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="~/js/map.js"></script>
    <script src="_framework/blazor.server.js"></script>

</body>
</html>
