@page "/"

<Title Level="1">JTTools</Title>
<Paragraph>
    <Title Level="3">JT808、JT809、JT1078、JT19056、JTNE（新能源）、JT808主动安全（苏标）解析工具、JT808主动安全（粤标）解析工具</Title>
    <Text>
        <Badge Color="red" />支持锐明808公交业务扩展协议<br />
        <Badge Color="red" />支持主动安全附件（苏标）分析工具<br />
        <Badge Color="red" />增加808分包解析<br />
        <Badge Color="red" />增加地图-经纬度解析<br />
        <Badge Color="red" />增加808分包的各个包的解析及展示<br />
        <Badge Color="red" />支持808（粤标）分析工具<br />
    </Text>
</Paragraph>