@page "/"

<Title Level="1">JTTools</Title>
<Paragraph>
    <blockquote>
        JT808、JT809、JT1078、JT19056、JTNE（新能源）、JT808主动安全（苏标）解析工具、JT808主动安全（粤标）解析工具
    </blockquote>
    <ul class="list">
        <li>支持锐明808公交业务扩展协议</li>
        <li>支持主动安全附件（苏标）分析工具</li>
        <li>808分包解析</li>
        <li>地图-经纬度解析</li>
        <li>808分包的各个包的解析及展示</li>
        <li>支持808（粤标）分析工具</li>
        <li>支持808的2011版本分析工具</li>
        <li>支持808多包解析</li>
        <li>支持808私有协议扩展库</li>
        <li>支持809的2019版本解析808的车辆定位信息包</li>
    </ul>
</Paragraph>
<style>
    .list li {
        position: relative;
        list-style: none;
        padding: 0 0 0 2em !important;
        margin: 0 !important
    }

        .list li::before {
            position: absolute;
            content: "\2022";
            text-align: center;
            opacity:0.5;
            left: 0;
            font-size: 2em;
            line-height: .75;
        }
</style>