@page "/jtas"

@using JTActiveSafety.Protocol;
@using JTActiveSafety.Protocol.Extensions;
@using JTTools.Configs;

<Space Direction="DirectionVHType.Vertical" Style="width:100%">
    <SpaceItem>
        <div class="right">
            <TextArea AllowClear="true" Rows="4" @bind-Value="@HexData" />
            <pre>
                 @Json
            </pre>
        </div>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Primary" @onclick="Query">分析</Button>
    </SpaceItem>
    @if (isOpen)
    {
        <SpaceItem>
            <Alert Type="@AlertType.Error" Description="@ErrerMessage" Closable AfterClose="OnDismiss" />
        </SpaceItem>
    }
</Space>


@code {

    private string HexData = "30 31 63 64 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 61 6C 61 72 6D 2E 78 6C 73 78 00 00 00 01 00 00 00 05 01 02 03 04 05";

    private string Json;

    private string ErrerMessage;

    private bool isOpen = false;

    void OnDismiss()
    {
        isOpen = !isOpen;
    }

    private void Query()
    {
        try
        {
            isOpen = false;
            var data = HexData.ToHexBytes();
            Json = JTActiveSafetySerializer.Analyze(data, options: JTJsonWriterOptions.Instance);
        }
        catch (Exception ex)
        {
            isOpen = !isOpen;
            Json = "";
            ErrerMessage = ex.StackTrace;
        }
    }
}
