<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>@Title</strong>@ErrorMessage
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string ErrorMessage { get; set; }
}
