@inherits LayoutComponentBase

<Layout>

    <Sider Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="0"
           OnBreakpoint="broken => {
            Console.WriteLine(broken);
        }"
           OnCollapse="collapsed => {
            Console.WriteLine(collapsed);
        }">
        <NavMenu />
    </Sider>
    <Layout>
        <Header Class="site-layout-sub-header-background" Style="padding: 0;">
            <iframe id="github-star" style="border:none;vertical-align: middle;position:absolute;right:50px;top:25px;" width="105" height="20" src="https://ghbtns.com/github-btn.html?user=SmallChi&amp;repo=JTTools&amp;type=watch&amp;count=true"></iframe>
        </Header>
        <Content Style="overflow: auto; margin: 24px 16px 0;">
            <div class="site-layout-background" style="padding: 24px; min-height: 360px">
                @Body
            </div>
        </Content>
        <Footer class="ant-layout-footer " Style="text-align: center;"><a href="http://www.beian.miit.gov.cn" target="_blank">Copyright © 2015-2020 SmallChi. All Rights Reserved. 粤ICP备19128140号-1</a></Footer>
    </Layout>
</Layout>

<style>
    body, html {
        font-size: 15px;
        overflow-x: hidden;
    }

    #components-layout-demo-responsive .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout-sub-header-background {
        background: #fff;
    }

    .site-layout-background {
        background: #fff;
    }

    .ant-layout {
        height: 100%;
    }

    .ant-layout .ant-layout-header h4 {
        font-size: 30px;
        padding: 0 35px;
    }

    .ant-layout-footer  {
        text-align: center;
        width: 100%;
        bottom: 0;
    }
</style>