<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"home"})>
    <MenuItem Key="home" RouterLink="" RouterMatch="NavLinkMatch.All">
        <img alt="logo" src="logo.svg" style="height:24px;margin-right: 16px;">
        <span class="nav-text">主页</span>
    </MenuItem>
    <MenuItem Key="jt808" RouterLink="jt808">
        <span class="nav-text">JT808分析工具</span>
    </MenuItem>
    <MenuItem Key="jt809" RouterLink="jt809">
        <span class="nav-text">JT809分析工具</span>
    </MenuItem>
    <MenuItem Key="jt1078" RouterLink="jt1078">
        <span class="nav-text">JT1078分析工具</span>
    </MenuItem>
    <MenuItem Key="jt1078pack" RouterLink="jt1078pack">
        <span class="nav-text">JT1078组包工具</span>
    </MenuItem>
    <MenuItem Key="jt19056" RouterLink="jt19056">
        <span class="nav-text">JT19056分析工具</span>
    </MenuItem>
    <MenuItem Key="jtas" RouterLink="jtas">
        <span class="nav-text">JTActiveSafety分析工具</span>
    </MenuItem>
    <MenuItem Key="map" RouterLink="map">
        <span class="nav-text">地图-经纬度解析</span>
    </MenuItem>
</Menu>
