<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">JTTools</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jt808">
                <span aria-hidden="true"></span>JT808分析工具
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jt809">
                <span aria-hidden="true"></span>JT809分析工具
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jt1078">
                <span aria-hidden="true"></span>JT1078解析工具
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jt19056">
                <span aria-hidden="true"></span>JT19056分析工具
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
