@supports (font-family: -apple-system) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 75rem;
}

.hide {
  display: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/* 
  1.全局样式=====
*/
main>.container {
  padding: 100px 15px 0;
}
@media screen and (max-width:768px){
  main>.container {
  padding: 65px 15px 0;
}
}
#main *:focus
{
  box-shadow:none;
}
.btn-clear {
  background: none;
  border: none;
  color: #6c757d;
  /* Bootstrap的次要颜色 */
}
.pre{
  background: #fafafa;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
}
.accordion-button:not(.collapsed){
  color: #166ff1;
  font-weight: 300;
  background-color: #fafafa;
}

.badge{
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-weight: 500;
}
.text-bg-primary{
     color: #1d39c4!important;
    background: #f0f5ff!important;
    border-color: #adc6ff!important;

}
.text-bg-secondary{
  color: #531dab!important;
    background: #f9f0ff!important;
    border-color: #d3adf7!important;
}
.text-bg-dark{
  color: #666 !important;
  background: #00000014 !important;
  border-color: #b9b8b8 !important;
}
.text-bg-light{
  color: #000 !important;
  background: #fff !important;
  border-color: #d8d7d7 !important;
}
.text-bg-success{
  color: #20c997!important;
  background: #20c9961a !important;
  border-color: #20c99683 !important;
}
.text-bg-danger{
  color: #dc3545!important;
  background: #dc35451a !important;
  border-color: #dc354583 !important;
}
.text-bg-warning{
    color: #d46b08!important;
    background: #fff7e6!important;
    border-color: #ffd591!important;
}
.text-bg-info{
  color: #096dd9!important;
    background: #e6f7ff!important;
    border-color: #91d5ff!important;
}

.row{
  margin-left: 0;
  margin-right: 0;
}
/* 
  2.JT808Parse模块样式====
*/

#JT808Parse textarea{
  padding-top: 40px;
}
#JT808Parse label{
    color: rgb(222, 110, 5);
    padding-top: 20px;
    font-weight: bold;
}
#JT808Parse label i{
  font-size: 20px;
}
#JT808_Accordion_Result .badge{
  margin-left: 10px;
}
/* 
  4.产品模块样式====
*/
#ProductAD .carousel-inner{
  height: 400px;
}
#ProductAD .icon{
    width: 65px;
    height: 65px;
    background: #ccc;
    text-align: center;
    border-radius: 50%;
    margin: 25px 0 0 25px;
}
@media screen and (max-width:768px){
 #ProductAD .icon{
    width: 50px;
    height: 50px;
    margin: 15px 0 0 15px;
}
}
#ProductAD >.card{
  border:none
}
#ProductAD .nav-pills{
  border-bottom: 1px solid #eee;
  width: 100%;
}
#ProductAD .nav-pills .nav-link{
  background: #eee;
  color: #333;
  border-bottom-left-radius: 0 ;
  border-bottom-right-radius: 0;
}
#ProductAD .nav-pills .nav-link.active{
  background: #258cfb;
  color: #fff;
}
#ProductAD .row{
  margin-left: -12px;
  margin-right: -12px;
}
#ProductAD .custom-tooltip {
  --bs-tooltip-bg: #712cf9;
  --bs-tooltip-color: #fff;
}